.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
*{
  margin: 0;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-weight: 900;
    font-size: 28px;
    margin-left: 150px;
    margin-top: 50px;
}

nav ul li {
    list-style: none;
}

nav li a button {
    width: 228px;
    height: 58px;
    margin-right: 166px;
    margin-top: 38px;
    padding: 17px, 24px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background-color: white;
    color: #0D1321;

}

/* Banner section styles */
.hero-container {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 35px;
    max-width: 1440px;
    max-height: 652px;
    padding: 20px 220px;

}
.hero-content {
    max-width: 998px;
    max-height: 582px;
    
    
}

.hero{
   margin: 0 375px 32px 375px;
}

h1{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: #0D1321;

}
p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}

.hero-contact{
    color: white;
    background-color: #0D1321;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    padding: 21px 24px;
    margin: 32px 395px 0px;
}

/* why web development styles */

.why-web-container{
    margin: 74px 152px 88px 148px;
    border: 2px solid black;
    border-radius: 16px;
    width: 1140px;
    height: 1395px
}

.why-web-content{
    margin: 0 97px 80px 97px;
    width: 946px;
    height: 1235px;
}

.head-content{

    width: 852px;
    height: 115px;
    margin: 0 47px 48px;
    border: 2px solid red;
}

.card-one{
    display: flex;
    width: 946px;
    height: 336px;
    margin: 10px 95px 10px 0;
    justify-content: space-evenly;
    border: 2px solid blue;
    padding: 48px;
}

h4{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: #0D1321; 
    margin-bottom: 26px;
}
.first-card-content{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}

.why-web-card-content{
    width: 477px;
    height: 220px;
}

h5{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 32px;
}

.card-one-image{
    width: 274px;
    height: 240px;
}

/* Support section styles */

.support-container{
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1240px;
    min-height: 314px;
    margin: 0 auto;
    border-radius: 16px;

    
}
.support-content{
    max-width: 1045px;
    max-height: 185px;
    padding: 48px 64px;
}

.support-txt{
    font-size: 32px;
    font-weight: bold;
    color: white;
    padding: 0 155px 25px;
}

.support-txt-2{
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 16px;
    margin-left: 60px;
    margin-right: 60px;
}

.support-message{
    display: flex;
    justify-content: space-around;
    margin: 25px 180px 0;
}

.suggestion-box{
    width: 545px;
    height: 55px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.submit-button{
    width: 120px;
    height: 55px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 16px;
    border: none;
}

/* footer section styles */

.footer-first{
    display: flex;
    justify-content: space-between;
    margin: 32px 150px;
    font-size: 20px;
    font-weight: 700;
}